/.agents
/.roo
/connect_error
/composer.json
/composer.lock
/composer.phar
/phpcs
/php-bin
/php.zip
/phpcs.xml
/phpstan.neon
/vendor/bin/php-parse
/vendor/bin/php-parse.bat
/vendor/bin/phpunit
/vendor/bin/phpunit.bat
/vendor/doctrine
/vendor/myclabs
/vendor/nikic
/vendor/phar-io
/vendor/phpunit
/vendor/sebastian
/vendor/theseer
/studio-a7-odstap-od-umowy-v*.zip
